# Dev/Development
coverage
pyzmq>=17.0.0b1
fire
tqdm
requests
networkx
matplotlib
scipy
pandas
plyplus
lxml
mdtraj
oset
numpy
cython
git+https://github.com/mosdef-hub/foyer
git+https://github.com/mosdef-hub/mbuild
